<div class="container">
    <br>
    <a routerLink="/ruta/create" class="btn">Registrar Ruta</a>
   
    <table class="table responsive">
      <thead>
        <tr>
            <th>Origen</th>
            <th>Destino</th>
            <th>Tiempo_estimado</th>
            <th>Acciones</th>
        </tr>
      </thead>   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.origen}}</td>
          <td>{{p.destino}}</td>
          <td>{{p.tiempo_estimado}}</td>
          <td>
            <a routerLink="/ruta/edit/{{p.id}}" class="btn">
              <i class="material-icons">edit</i>
            </a>
            <button class="btn red" (click)="delete(p.id)">
              <i class="material-icons">delete</i>
            </button> 
          </td>
        </tr>
      </tbody>
    </table>
    </div>

