<footer class="yellow darken-4">
    <div class="container">
      <div class="row">
        <div class=" col l6 s12">
          <h5 class="white-text">MisionTIC 2022</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Integrantes</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">SUAZO SALINAS OSCAR ARMANDO</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">SILVA DUARTE JORGE ERNESTO</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">CADENA PARDO BRANDON STEVE</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">MURILLAS RAYO JOSE LINCER</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">MURILLO PESELLIN ANDRÉS FELIPE</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
