<div class="container">
    <br>
    <a routerLink="/vuelo/create" class="btn">Registrar Vuelos</a>
   
    <table class="table responsive">
      <thead>
        <tr>
            <th>Fecha_inicio</th>
            <th>Hora_inicio</th>
            <th>Fecha_fin</th>
            <th>Hora_fin</th>
            <th>Asientos_vendidos</th>
            <th>Nombre_piloto</th>
            <th>Ruta</th>
            <th>Acciones</th>
        </tr>
      </thead>   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.fecha_inicio}}</td>
          <td>{{p.hora_inicio}}</td>
          <td>{{p.fecha_fin}}</td>
          <td>{{p.hora_fin}}</td>
          <td>{{p.asientos_vendidos}}</td>
          <td>{{p.nombre_piloto}}</td>
          <td>{{p.ruta}}</td>
          <td>
            <a routerLink="/vuelo/edit/{{p.id}}" class="btn">
              <i class="material-icons">edit</i>
            </a>
            <button class="btn red" (click)="delete(p.id)">
              <i class="material-icons">delete</i>
            </button> 
          </td>
        </tr>
      </tbody>
    </table>
    </div>

